@import "../../styles/variables";

.button {
    border: none;
    outline: none;
    border-radius: $border-radius-1;
    padding: $sm;
    margin: $sm 0 $sm 0;
    cursor: pointer;
}

.primary {
    &-outline {
        background-color: transparent;
        outline: 2px solid $primary-50;
        color: $primary-50;

        &:hover {
            background-color: $primary-10;
        }
    }

    &-content {
        background-color: $primary-50;
        color: $light;
        outline: none;

        &:hover {   
            background-color: $primary-100;
            color: $light;
        }
    }

}

.fullWidth {
    width: 100%;
}