//colors
$background: #F7EEDD;
$primary-100: #008DDA;
$primary-80: #41C9E2;
$primary-30: #ACE2E1;
$danger: #dc3545;
$success: #28a745;
$light: #F8F9FA;

//margins
$xxs: 4px;
$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 18px;
$xl: 20px;
$xxl: 24px;


//borders
$border-radius-1: 15px; 

$max-width: 1600px;
$navbar-height-lg: 90px;