@import "../../styles/variables";

.container {
    height: $navbar-height-lg;
    background-color: $light;

    position: sticky;
    max-width: $max-width;
    top: 0;
    right: 0;
    z-index: 99999;
}

.buttonsContainer {
    display: flex;
    column-gap: $md;
}

.iconText {
    vertical-align: super;
    padding-left: $xs;
}

.iconTextWrapper {
    cursor: pointer
}

.icon {
    text-decoration: none;
    color: $primary-50;
}